.topbar, .navbar-custom {
    /*background-image: -webkit-linear-gradient(left, rgb(189, 209, 98) 1%, rgb(170, 186, 98) 99%);
    background-image: -o-linear-gradient(left, rgb(189, 209, 98) 1%, rgb(170, 186, 98) 99%);
    background-image: linear-gradient(to right, rgb(189, 209, 98) 1%, rgb(170, 186, 98) 99%);*/
    background-image: linear-gradient(to right, #00966D 1%, #006E50 99%);
    box-shadow: 0 1px 1px 0 rgba(183,183,183,0.50);
    padding-top: 0;
    padding-bottom: 0;
}

.button-menu-mobile, .topbar-left {
    /*background-color: rgb(189, 209, 98) !important;*/
    background-image: linear-gradient(to right, #00966D 1%, #006E50 99%);
}

.breadcrumb {
    background-color: transparent !important;
}

.logo-min{
    display: none;
}

.enlarged .logo .logo-min{
    display: inline;
}
